@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
  background-image: url(".././public/home1.jpg");
 
}

.service-img{
  background-image: url("../public/mohamed-fareed-rbSNsoXk-3A-unsplash.jpg")
}

.footer-img{
  background-image: url("../public/footer.jpg")
}

.program-img {
  background-image: url("../public/programpic.jpg")
}